<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Factory Tutorial">

    <test name="Page Factory Project">
        <classes>
            <class name="pawaskar.prachi.PageFactoryTutorial.TestsToExecute" />
        </classes>
    </test>

</suite>